{
  "plist": {
    "-version": "1.0",
    "dict": {
      "key": "countries",
      "dict": {
        "key": [
          "PL",
          "CO",
          "PA",
          "VN",
          "LV",
          "LT",
          "PH",
          "FI",
          "HU",
          "UA",
          "TR",
          "PT",
          "MY",
          "IL",
          "EE",
          "DK",
          "BG",
          "BE",
          "SE",
          "VE",
          "TH",
          "RO",
          "MX",
          "ID",
          "TW",
          "SA",
          "HK",
          "DZ",
          "CN",
          "CH",
          "AR",
          "NO",
          "AT",
          "IE",
          "AE",
          "ZA",
          "BR",
          "KR",
          "AU",
          "US",
          "GB",
          "DE",
          "SG",
          "NL",
          "JP",
          "CA",
          "FR",
          "RU",
          "ES",
          "IT",
          "IN",
          "CZ",
          "LU",
          "NZ",
          "IS",
          "IR",
          "PK"
        ],
        "string": [
          "137",
          "138",
          "139",
          "140",
          "141",
          "142",
          "143",
          "144",
          "145",
          "146",
          "147",
          "148",
          "149",
          "150",
          "151",
          "152",
          "153",
          "154",
          "155",
          "156",
          "157",
          "158",
          "159",
          "160",
          "161",
          "162",
          "163",
          "164",
          "165",
          "166",
          "167",
          "168",
          "169",
          "170",
          "171",
          "172",
          "173",
          "174",
          "175",
          "176",
          "177",
          "178",
          "179",
          "180",
          "181",
          "182",
          "183",
          "184",
          "185",
          "186",
          "187",
          "265",
          "266",
          "267",
          "268",
          "442",
          "445"
        ],
        "country_string": [
          "Poland",
          "Colombia",
          "Panama",
          "Vietnam",
          "Latvia",
          "Lithuania",
          "Philippines",
          "Finland",
          "Hungary",
          "Ukraine",
          "Turkey",
          "Portugal",
          "Malaysia",
          "Israel",
          "Estonia",
          "Denmark",
          "Bulgaria",
          "Belgium",
          "Sweden",
          "Venezuela",
          "Thailand",
          "Romania",
          "Mexico",
          "Indonesia",
          "Taiwan",
          "Saudi Arabia",
          "Hong Kong",
          "Algeria",
          "China",
          "Switzerland",
          "Argentina",
          "Norway",
          "Austria",
          "Ireland",
          "United Arab Emirates",
          "South Africa",
          "Brazil",
          "South Korea",
          "Australia",
          "United States",
          "United Kingdom",
          "Germany",
          "Singapore",
          "Netherlands",
          "Japan",
          "Canada",
          "France",
          "Russia",
          "Spain",
          "Italy",
          "India",
          "Czech Republic",
          "Luxembourg",
          "New Zealand",
          "Iceland",
          "Iran",
          "Pakistan"
        ]
      }
    }
  }
}